/* ------- All Pages ------- */

/* Helps keep design consistent on browsers */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: black;
    font-family: 'Arial', sans-serif;
    /* No bouncing when scrolling */
    overscroll-behavior: none;
}

/* Background image */
#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
    opacity: 0.5;
}

/* Navigation bar */
.navbar {
    z-index: 4;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px 0 10px 30px;
    list-style-type: none;
    margin: 0;
    overflow-x: visible;
}

.navbar li {
    flex-shrink: 0;
}

/* Photos that are not in the slideshow */
.photo {
    position: relative;
    z-index: 1;
    width: 300px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

/* Footer general rules */
#footer {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

.footer-left,
.footer-right {
    display: flex;
    align-items: center;
}

/* Container used for positioning footer content */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

/* Specific rules for the icons on the right of the footer */
.footer-right a {
    color: white;
    margin-left: 15px;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Used to help align the text with the icons in the footer */
.footer-content p {
    margin: 0;
    line-height: 1;
    display: flex;
    align-items: center;
}

/* Header text general rules */
h1 {
    color: white;
}

/* Paragraph text general rules */
p {
    margin-top: 10px;
    color: white;
}

/* ------- Experience and Projects Pages Only ------- */

/* Used to position title and description of experience and project pages */
.page-container {
    position: absolute;
    margin-top: 60px;
    z-index: 3;
    text-align: center;
    width: 100%;
}

/* Title of experience and project page */
#pagetitle {
    font-size: 50px;
    color: white;
    white-space: nowrap;
    margin: 0;
}

/* Rules for description text on the experience and project pages */
.italic-text {
    font-style: italic;
}

/* Used to prevent the content from being too high on the experience and project pages */
#experience-section {
    margin-top: 120px;
    padding: 60px 20px;
    padding-top: 100px;
}

/* Used to help position the content shown on the experience and project pages */
.experience-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    grid-auto-rows: minmax(400px, auto);
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 40px;
}

/* Adjusting the experience and project pages for smaller windows */
@media (max-width: 600px) {
    .experience-container {
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 0 20px;
    }
}

/* Used for aligning the image, frame, and buttons 
correctly on the experience and project page */
.image-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.image-button-container img {
    display: block;
    width: 350px;
    height: auto;
}

/* Container, title text, and description text
of content shown on experience and project pages*/
.image-labels {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
    width: max-content;
    max-width: 280px;
}

.image-title {
    color: white;
    padding: 6px 12px;
    font-size: 18px;
    border-radius: 4px;
    line-height: 1.4;
}

.image-description {
    color: white;
    font-size: 14px;
    font-style: italic;
    margin-top: 8px;
}

/* Container used for positioning the buttons 
on the experience and project pages */
.button-container {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap: 15px;
    z-index: 3;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/* Example button general rules (buttons that 
link to examples of experience or projects) */
.example-button {
    color: white;
    border: none;
    width: 100px;
    height: 50px;
    padding: 5px 5px;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
    white-space: normal;
    word-break: break-word;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s ease;
}

/* ------- Home Page Only ------- */

/* Container used at top of home page */
.home-top-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: visible;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 500px;
    width: 60%;
    margin: auto;
    z-index: 1;
    border: 10px solid black;
    border-radius: 10px;
}

/* Slideshow slides */
.slides {
    display: none;
    position: relative;
}

.slides img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: auto;
}

/* Slideshow caption text */
.caption {
    color: #f2f2f2;
    background-color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Slideshow slide number */
.slidenumber {
    color: #f2f2f2;
    background-color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Slideshow navigation buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    border-radius: 3px;
    text-decoration: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Home navigation bar */
.navbar-home a {
    font-family: Arial;
    color: #8D8DF6;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-home a:hover {
    font-weight: bold;
    color: #B69AF9;
}

/* Pencil stars */
#pencilstars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    z-index: 1;
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 0.1s ease;
}

/* Container used for positioning the greeting text animation */
.greeting-container {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
    width: 100%;
}

/* Greeting string, initialized for the animation */
#greeting {
    font-size: 50px;
    color: white;
    white-space: nowrap;
    margin: 0;
}

/* Container used for positioning the description animation */
.description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

/* Introduction string, initialized for the animation */
#introduction {
    font-size: 20px;
    color: white;
    z-index: 3;
    margin: 0;
}

/* Container used for positioning the about me information */
.about-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

/* Container used for positioning the photo, frame, and buttons */
.image-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    z-index: 2;
}

/* Purple photo frame */
.purple-photo-frame {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    background-color: #200435;
    border-radius: 10px;
    z-index: 0;
}

/* About me text shared rules */
.about-text {
    flex: 1;
    min-width: 250px;
    text-align: center;
    margin-top: 10px;
}

/* About me text header rules */
.about-text h1 {
    font-size: 50px;
    margin-bottom: 20px;
    white-space: nowrap;
}

/* About me text paragraph rules */
.about-text p {
    font-size: 18px;
    line-height: 1.6;
}

/* The color the footer icon becomes from hovering in the home page */
.home-page .footer-right a:hover {
    color: #8D8DF6;
}

/* Javascript code for typing animation */
#cursor {
    display: inline-block;
    color: white;
    font-weight: bold;
    animation: blink 1s step-start infinite;
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0;
    }
}

/* ------- Experience Page Only ------- */

/* Experience navigation bar */
.navbar-experience a {
    font-family: Arial;
    color: #629BF1;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-experience a:hover {
    font-weight: bold;
    color: #B6CFF4;
}

/* Pencil bubbles */
#pencilbubbles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    z-index: 1;
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 0.1s ease;
}

/* Blue photo frame */
.blue-photo-frame {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    background-color: #050337;
    border-radius: 10px;
    z-index: 0;
}

/* The color the example button is without hovering in the experience page */
.experience-page .example-button {
    background-color: #050337;
}

/* The color the example button becomes from hovering in the experience page */
.experience-page .example-button:hover {
    background-color: #629BF1;
}

/* The color the footer icon becomes from hovering in the experience page */
.experience-page .footer-right a:hover {
    color: #629BF1;
}

/* ------- Projects Page Only ------- */

/* Projects navigation bar */
.navbar-projects a {
    font-family: Arial;
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-projects a:hover {
    font-weight: bold;
    color: #200435;
}

/* Pencil sparkles */
#pencilsparkles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: contain;
    z-index: 1;
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 0.1s ease;
}

/* Gray photo frame */
.gray-photo-frame {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    background-color: #C0C0C0;
    border-radius: 10px;
    z-index: 0;
}

/* The color the footer icon becomes from hovering in the project page */
.projects-page .footer-right a:hover {
    color: #6F07BE;
}

/* The color the example button is without hovering in the project page */
.projects-page .example-button {
    background-color: #3B3B3B;
}

/* The color the example button becomes from hovering in the project page */
.projects-page .example-button:hover {
    background-color: #6F07BE;
}